@{
    ViewBag.Title = "Home";
}

    <h1>AultCare Programmer / Analyst Candidate Austin</h1>
    <br /><br />

    <p class="lead">I built this website in Visual Studio 2015 using MVC C# Web Application.</p>
    <p class="lead">It was actually quite enjoyable doing web development other than school work for once.</p>
